body {
  background: #fff;
}

.price_div {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.price_value {
  font-size: 16px;
  font-weight: 600;
}
.cart_div {
  margin-bottom: 4vw;
}
.amount_div {
  margin-bottom: 5px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout_btn {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: auto;
  border: none;
  padding: 13px;
  width: 21vw;
  border-radius: 11px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continue_btn {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: auto;
  border: none;
  padding: 13px;
  width: 21vw;
  border-radius: 11px;
  color: white;
  background-color: #72d826;
}

.store_pickup {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding: 13px;
}

.productqty .col-md-2 {
  padding-left: 0;
  padding-right: 0;
}
.productqty ul li a {
  color: #000;
}
.productqty h5 {
  font-weight: bold;
  font-size: 16px;
}
.productqty {
  background-color: #f4fff3;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 8px;
}
.cart_img {
  object-fit: fill;
  margin-top: 9px;
  margin-left: -7px;
  border-radius: 7px;
}
.qtydetails p {
  opacity: 0.5;
}
.productcat .addcart {
  padding: 20px 0;
  border-radius: 10px;
}
.productqty .col-md-8,
.productqty .col-sm-8 {
  padding-left: 0;
}
.qtydetails h5 {
  font-weight: bold;
  font-size: 16px;
}
.qtydetails h4 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}
.quant_div {
  background-color: black;
  border-radius: 25px;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
P {
  font-size: 14px;
}
/* responsive css below */

.minus {
  // width: 30px;
  // height: 2rem;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 0;
  background: none;
  position: relative !important;
}
.plus {
  // width: 30px;
  // height: 2rem;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 0;
  background: none;
  position: relative !important;
}
.delete_img {
  height: 16px;
  width: 17px;
  object-fit: fill;
  margin-left: 6px;
  margin-top: 7px;
}
.qty {
  font-size: 20px;
  width: 34px;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 14px;
  border-radius: 6px;
  color: white;
  background: transparent;
  border: 1px solid transparent;
}
.quantity {
  display: flex;
  position: relative;
  align-items: center;
  text-align: left;
  vertical-align: middle;
}
.cart-empty {
  font-size: 20px;
  margin: 30px;
  font-weight: 700;
}
.clear_icon {
  margin-left: 9vw;
  cursor: pointer;
}
.cart_txt {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
}
.cart_itemtxt {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}
